<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\glevo\OneDrive\Documents\MISC\[George III]\(B) [Project Files]\Java_learning_practice_file\A_PP_Journal\A_PP_Journal.jar</jar>
  <outfile>C:\Users\glevo\OneDrive\Documents\MISC\[George III]\(B) [Project Files]\Java_learning_practice_file\A_PP_Journal\jEntries.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>true</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\glevo\OneDrive\Documents\MISC\[George III]\(B) [Project Files]\Java_learning_practice_file\A_PP_Journal\JEntriesIcon.ico</icon>
  <singleInstance>
    <mutexName>jEntries.exe</mutexName>
    <windowTitle>jEntries.exe</windowTitle>
  </singleInstance>
  <jre>
    <path>JRE</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>